body, html {
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100rem;
  margin: auto;
}
.wrapper .navigation {
  background-color: #D64200;
  position: fixed;
  height: 100vh;
  max-width: 16.5rem;
  width: 100%;
}
.wrapper .navigation .navigation_logo {
  margin-left: 1.75rem;
}
.wrapper .navigation h1 {
  font-family: Roboto, sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  text-align: left;
  display: inline-block;
  color: #FFFFFF;
  padding-left: 1.75rem;
  margin-bottom: 0.35rem;
  margin-top: 11.875rem;
}
@media screen and (max-width: 768px) {
  .wrapper .navigation h1 {
    margin-top: 0.8rem;
  }
  .wrapper .navigation h1::after {
    content: "";
    position: absolute;
    top: 1.063rem;
    right: 2.85rem;
    width: 1rem;
    height: 1rem;
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 768px) and (max-width: 26.6px) {
  .wrapper .navigation h1::after {
    right: 1.85rem;
  }
}
@media screen and (max-width: 768px) {
  .wrapper .navigation h1:focus::after {
    transform: rotate(225deg);
    top: 1.625rem;
  }
  .wrapper .navigation h1:focus ~ .navigation_bar {
    display: block;
    position: absolute;
    background-color: #D64200;
    width: 100vw;
    top: 3.75rem;
    height: 33.3rem;
  }
}
.wrapper .navigation .navigation_bar {
  position: relative;
}
.wrapper .navigation .navigation_bar ul {
  margin: 0;
  padding: 0;
}
.wrapper .navigation .navigation_bar ul li {
  font-family: Roboto, sans-serif;
  font-size: 1.188rem;
  font-weight: 400;
  line-height: 2.063rem;
  letter-spacing: 0.02em;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.563rem;
  list-style-type: none;
  margin: 0;
  border-top: 0.3px solid #FFFFFF;
  cursor: pointer;
}
.wrapper .navigation .navigation_bar ul li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 1rem 0 1rem 1.75rem;
  box-sizing: border-box;
  color: #FFFFFF;
}
.wrapper .navigation .navigation_bar ul li a:visited {
  color: #FFFFFF;
}
.wrapper .navigation .navigation_bar ul li:hover {
  background-color: rgba(255, 182, 159, 0.3019607843);
}
.wrapper .navigation .navigation_bar .navigation_logo {
  position: absolute;
  top: -14.375rem;
}
.wrapper main {
  margin-left: 18.5rem;
  height: max-content;
  padding-top: 2.2rem;
  padding-bottom: 3.75rem;
}
@media screen and (min-width: 100rem) {
  .wrapper main {
    padding-right: 8.75rem;
  }
}
@media screen and (max-width: 100rem) {
  .wrapper main {
    padding-right: 3.75rem;
  }
}
@media screen and (max-width: 48rem) {
  .wrapper main {
    padding: 0 1rem 5rem 0.688rem;
    margin-left: 0;
    width: 100vw;
    box-sizing: border-box;
  }
}
.wrapper main section h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  text-align: left;
  font-size: 1.188rem;
  line-height: 2.188rem;
}
.wrapper main section p {
  font-family: Roboto, sans-serif;
  font-size: 1.188rem;
  font-weight: 400;
  line-height: 2.063rem;
  letter-spacing: 0.02em;
  text-align: left;
}
.wrapper main section span {
  font-family: Roboto, sans-serif;
  font-size: 1.188rem;
  font-weight: 400;
  line-height: 2.063rem;
  letter-spacing: 0.02em;
  text-align: left;
  font-family: Pridi, sans-serif;
  background-color: #C8C4C5;
}
.wrapper main section span:nth-child(1) {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1rem;
  margin: 1rem 0;
}
@media screen and (max-width: 26.563rem) {
  .wrapper main section span:nth-child(1) {
    font-size: 1.063rem;
  }
}
.wrapper main section ul li {
  font-family: Roboto, sans-serif;
  font-size: 1.188rem;
  font-weight: 400;
  line-height: 2.063rem;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 0.5rem;
}
@media screen and (max-width: 48rem) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper .navigation {
    position: fixed;
    height: 3.813rem;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .wrapper .navigation h2 {
    margin: 0.75rem;
  }
  .wrapper .navigation .navigation_bar {
    display: none;
    height: 31.875rem;
  }
  .wrapper .navigation .navigation_bar .navigation_logo {
    position: relative;
    top: -3.438rem;
    float: right;
    margin-right: 2.5rem;
    height: 8.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
