:root {
    --fontFamaly: Roboto, sans-serif;
    --letterSpacing: 0.02em;
    --colorOrange: #A72800;
    --colorGray: #D9D9D9;
    --colorWhite: #F8F8F8;
}

body {
    margin: auto;
}

.wrapper {
    background-color: var(--colorOrange);
    width: 100rem;
    height: 93.75rem;
    margin: auto;
}

.header {
    height: 31.25rem;
    color: var(--colorWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_title {
    font-family: var(--fontFamaly);
    font-size: 7.5rem;
    font-weight: 700;
    letter-spacing: var(--letterSpacing);
    text-align: center;
    margin: 1.55rem;
}

.header_content {
    width: 93.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2.8rem;
}

.header_content_about {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
}

.header_content_about p {
    width: 25rem;
    font-family: var(--fontFamaly);
    font-size: 1.375rem;
    font-weight: 200;
    text-align: left;
    opacity: 0.4;
    line-height: 1.8rem;
    letter-spacing: var(--letterSpacing);
    margin-bottom: 0.3rem;
}

.header_content_about h3 {
    font-family: var(--fontFamaly);
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: var(--letterSpacing);
    text-align: left;
    margin: 0;
}

.header_content_about h4 {
    font-family: var(--fontFamaly);
    font-size: 1.55rem;
    font-weight: 700;
    letter-spacing: var(--letterSpacing);
    text-align: left;
    margin: 0;
}

.header_content_fox {
    top: 12.55rem;
    left: 35.125rem;
}

.header_content_fox_image {
    width: 29.75rem;
}

.header_content_logo {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.header_content_logo figcaption {
    font-family: var(--fontFamaly);
    font-size: 2.5rem;
    font-weight: 560;
    margin: 0;
    padding-left: 1.55rem;
    padding-top: 2.5rem;
}

.header_content_logo_fox {
    width: 21.25rem;
    padding-top: 2.5rem;
}

.wrapper_content {
    background-color: var(--colorWhite);
    padding-bottom: 1.25rem;
}

.wrapper_content_text {
    padding: 14.65rem 6.85rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_content_text_note {
    background-color: var(--colorGray);
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1.55rem;
}

.wrapper_content_text_note p {
    font-family: Roboto Mono, monospace;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.625rem;
    letter-spacing: var(--letterSpacing);
}

.wrapper_content_text p {
    font-family: var(--fontFamaly);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.2rem;
    letter-spacing: var(--letterSpacing);
    text-align: left;
}

.wrapper_content_fox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem 6.85rem 0;
    margin: auto;
}

.wrapper_content_fox_species {
    height: 20.55rem;
    background-color: var(--colorGray);
    padding: 0 1.44rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper_content_fox_species h4 {
    font-family: var(--fontFamaly);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: var(--letterSpacing);
    text-align: left;
    margin: 0;
}

.wrapper_content_fox_species li {
    font-family: var(--fontFamaly);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: var(--letterSpacing);
    text-align: left;
}

.small-block {
    width: 18.05rem;
}

.large-block {
    width: 27.375rem;
}