$color_white: black;
$color_orange: #CC5520;
$color_gray: #969595;
$color_white: #FFFFFF;
$font_family: Roboto, sans-serif;
$shadow_yellow: 0.313rem 1.25rem 3.125rem 0 #EA912780;
$shadow_orange: 0.313rem 1.25rem 3.125rem 0 #CC552080;
