$color_white: #FFFFFF;
$color_orange: #D64200;
$border_color_orange: #D64200;
$font-family: Arial, serif;
$color_light-orange: #FFCBBA;
$border_color_gray: 1px solid #777777;
$color_gray: #777777;
$color_red: 1px solid #FF0000;
$color_green: 1px solid #008000;

@mixin input_style {
  height: 2.75rem;
  border-radius: 0.625rem;
  border: $border_color_gray;
  padding-left: 2rem;
}

@mixin custom_input {
  > input {
    display: inline-flex;
    align-items: center;
    user-select: none;
    line-height: 1.875rem;
    -webkit-appearance: none;
    position: absolute;

    &::before {
      text-align: center;
      vertical-align: middle;
      width: 2.375rem;
      height: 2.375rem;
      flex-shrink: 0;
      flex-grow: 0;
      border: $border_color_gray;
      border-radius: 50%;
    }

    &:not(:disabled) {
      &:not(:checked) {
        &:hover {
          &::before {
            background-color: $color_light-orange;
          }
        }
      }
    }

    &:checked {
      &::before {
        background-color: $color_orange;
        color: $color_light-orange;
      }
    }
  }
}

@function makelongshadow($color, $size) {
  $val: 0.313rem 0 0 $size $color;

  @for $i from 6 through 600 {
    $val: #{$val}, #{$i}px 0 0 $size #{$color};
  }

  @return $val;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

input {
  box-sizing: border-box;
}

input[type="text"] {
  @include input_style;

  &:invalid {
    border: $color_red;
  }
}

input[type="number"] {
  @include input_style;

  &:invalid {
    border: $color_red;
  }
}

input[type="password"] {
  @include input_style;
  color: $color_green;

  &:valid {
    border: $color_green;
  }

  &:invalid {
    border: $color_red;
  }
}

input[type="email"] {
  @include input_style;

  &:invalid {
    border: $color_red;
  }
}

.right {
  input {
    width: 95%;
    float: right;
    margin-top: 0.625rem;
    @media screen and (max-width: 48rem) {
      float: none;
      width: 100%;
    }
  }

  span {
    margin-left: 4rem;
    @media screen and (max-width: 48rem) {
      margin-left: 2rem;
    }
  }
}

.left {
  input {
    width: 95%;
    margin-top: 0.625rem;
    @media screen and (max-width: 48rem) {
      width: 100%;
    }
  }

  span {
    margin-left: 2rem;
  }
}

.custom-radio {
  @include custom_input;

  margin-left: 5.35rem;
  display: inline-flex;
  align-items: center;
  line-height: 3rem;

  > input {
    &::before {
      content: "";
      margin-left: -5.35rem;

    }

    &:checked {
      &::before {
        border: 0.37rem solid $color_light-orange;
        width: 1.875rem;
        height: 1.875rem;
      }
    }
  }
}

.custom-checkbox {
  @include custom_input;

  > input {
    &::before {
      content: "\2714";
      color: transparent;
      margin-left: -3.25rem;

    }

    &:not(:disabled) {
      &:not(:checked) {
        &:hover {
          &::before {
            color: transparent;
          }
        }
      }
    }

    &:checked {
      &::before {
        border: 0.47rem solid $color_light-orange;
        width: 1.625rem;
        height: 1.625rem;
      }
    }
  }
}

.wrapper {
  max-width: 100rem;
  margin: auto;
}

.header {
  height: 13.375rem;
  background-color: $color_orange;
  position: relative;
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 13.375rem;
  letter-spacing: 0.02em;

  h4 {
    margin: 0;
    @media screen and (max-width: 48rem) {
      line-height: 8.75rem;
      font-size: 2rem;
    }
  }

  .header_fox {
    margin: 0;
    position: absolute;
    right: 6rem;
    top: 1rem;

    .header_fox_image {
      @media screen and (max-width: 56.25rem) {
        width: 12.688rem;
      }
    }

    @media screen and (max-width: 64rem) {
      right: 3rem;
    }

    @media screen and (max-width: 56.25rem) {
      top: 6rem;
    }

    @media screen and (max-width: 48rem) {
      right: 1.5rem;
    }
  }
}

.form {
  display: flex;
  flex-flow: row wrap;
  margin: 4.375rem auto 7.813rem;
  max-width: 83.25rem;

  > * {
    flex: 2 50%;
    margin-top: 1rem;
    @media screen and (max-width: 48rem) {
      flex: 1 100%;
    }
  }

  @media screen and (min-width: 64rem) and (max-width: 90rem) {
    margin: 4.375rem 1.375rem 7.813rem;
  }

  @media screen and (max-width: 64rem) {
    margin: 2.5rem 1.375rem 4.125rem;
  }
}

.first-name {
  order: 1;
}

.last-name {
  order: 2;
}

.email {
  order: 3;
  flex: 100%;

  input {
    width: 100%;
    margin-top: 0.625rem;
  }

  span {
    margin-left: 2rem;
  }
}

.password {
  order: 4;
}

.confirm-password {
  order: 5;
  margin-left: auto;
}

.gender {
  order: 6;

  legend {
    margin-left: 2rem;
    margin-bottom: 0.625rem;
  }

  input {
    margin-left: 2rem;
  }
}

.hobbies {
  order: 7;

  legend {
    margin-left: 4rem;
    margin-bottom: 0.625rem;
    @media screen and (max-width: 48rem) {
      margin-left: 2rem;
    }
  }

  .hobbies_wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 7rem;
    width: 75%;

    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 2.375rem;
    }

    @media screen and (min-width: 48rem) and (max-width: 64rem) {
      width: 80%;
      row-gap: 2rem;
      flex-wrap: wrap;
      label {
        width: 50%;
      }
    }
    @media screen and (max-width: 48rem) {
      width: 80%;
      column-gap: 0;
      row-gap: 0;
      flex-wrap: nowrap;
      margin-left: 5rem;
    }
    @media screen and (max-width: 37.5rem) {
      column-gap: 1rem;
      row-gap: 2rem;
      flex-wrap: wrap;
      justify-content: normal;
      width: 80%;
      label {
        width: 46%;
      }
    }
  }
}

.select-income {
  order: 8;
  position: relative;

  &:after {
    content: '<>';
    font: 1.563rem "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 2.375rem;
    right: 2.5rem;
    position: absolute;
    pointer-events: none;
    @media screen and (max-width: 48rem) {
      right: 1rem;
    }
  }

  select {
    width: 95%;
    border-radius: 0.625rem;
    border: $border_color_gray;
    height: 2.75rem;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 2rem;
    @media screen and (max-width: 48rem) {
      width: 100%;
    }

    option {
      padding: 2rem;
    }
  }
}

.range {
  order: 9;
  margin-left: 0;

  .main-label {
    margin-left: 4rem;
    @media screen and (max-width: 48rem) {
      margin-left: 2rem;
    }
  }

  .range_wrapper {
    position: relative;
    display: flex;
    margin-left: 4rem;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 48rem) {
      margin-left: 2rem;
    }
  }

  .range_wrapper_content {
    width: 75%;
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 37.5rem) {
      width: 90%;
    }
  }

  .range_wrapper {
    margin-left: 4rem;
    @media screen and (max-width: 48rem) {
      margin-left: 2rem;
    }
  }

  .range_result {
    display: inline-block;
    width: 5.875rem;
    height: 2.125rem;
    background-color: $color_orange;
    border-radius: 0.625rem;
    text-align: center;
    font-family: $font-family;
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 1.563rem;
    letter-spacing: 0.024rem;
    padding-top: 0.375rem;
    color: $color-white;

    span {
      margin-left: -0.313rem;
    }

    @media screen and (max-width: 37.5rem) {
      position: absolute;
      top: -1.875rem;
      right: 0;
    }
  }

  input {
    appearance: none;
    background: none;
    cursor: pointer;
    height: 100%;
    min-height: 3.125rem;
    overflow: hidden;
    width: 100%;

    &:focus {
      box-shadow: none;
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      z-index: 9999;
      content: '';
      height: 0.375rem;
      pointer-events: none;
      border-radius: 3.125rem;
    }

    &::-webkit-slider-thumb {
      height: 1.625rem;
      width: 1.625rem;
      background-color: $color-white;
      appearance: none;
      background: $color-white;
      border-radius: 3.125rem;
      box-shadow: makelongshadow($color_orange, -0.5rem);
      margin-top: -0.813rem;
      border: 1px solid $color_gray;
      padding-left: 0.625rem;
    }


    &::-moz-range-track {
      width: 70%;
      height: 0.375rem;
      border-radius: 50%;
    }

    &::-moz-range-thumb {
      background: $color-white;
      border-radius: 50%;
      border: 1px solid #777;
      position: relative;
    }

    &::-moz-range-progress {
      height: 0.375rem;
      background: $color-white;
      border: 0;
      margin-top: 0;
    }

    &::-ms-track {
      background: transparent;
      border: 0;
      border-color: transparent;
      border-radius: 0;
      border-width: 0;
      color: transparent;
      height: 0.375rem;
      margin-top: 0.625rem;
      width: 70%;
    }

    &::-ms-thumb {
      background: $color-white;
      border-radius: 50%;
      border: 1px solid #777;
    }

    &::-ms-fill-lower {
      background: $color-white;
    }

    &::-ms-fill-upper {
      background: $color_orange;
    }

    &::-ms-tooltip {
      display: none;
    }
  }

  .range-line {
    background-color: $color_gray;
    height: 0.125rem;
    width: 98%;
    position: absolute;
    border-radius: 3.125rem;
    z-index: 12;
    margin-left: 0;
    left: 0.125rem;
    top: 1.375rem;
  }
}

.file {
  order: 10;
  display: inline-block;

  .file-input_wrapper {
    width: 100%;
    display: inline-block;
    margin-left: 0;

    input {
      max-width: 20rem;
      cursor: pointer;
      @media screen and (max-width: 48rem) {
        max-width: 100%;
      }

      &::-webkit-file-upload-button {
        background-color: $color_gray;
        border: none;
        border-radius: 0.625rem;
        width: 12.5rem;
        height: 2.8rem;
        color: $color_white;
        font-family: Arial sans-serif;
        font-size: 1.063rem;
        font-weight: 400;
        line-height: 1.375rem;
        letter-spacing: -0.026rem;
        text-align: center;
      }
    }
  }
}

.age {
  order: 11;
}

.bio {
  order: 12;
  flex: 100%;
  margin-top: 2rem;

  textarea {
    max-width: 83.25rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.625rem;
    border: 1px solid $color_gray;
    border-radius: 0.625rem;
    padding-left: 2rem;
    padding-top: 1rem;
    font-family: Arial sans-serif;
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 1.563rem;
    letter-spacing: 0.024rem;
    resize: none;
  }

  span {
    margin-left: 2rem;
  }
}

.btn {
  order: 13;
  max-width: 25%;
  height: 3.75rem;
  margin-left: auto;
  border-radius: 0.625rem;
  border: 1px solid $color_orange;
  background-color: $color_orange;
  color: $color-white;
  font-family: Arial sans-serif;
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 1.563rem;
  letter-spacing: 0.024rem;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  @media screen and (max-width: 37.5rem) {
    max-width: 100%;
    background-color: transparent;
    color: $color_orange;
  }
}

.main-label {
  font-family: $font-family;
  font-size: 1.063rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.026rem;
  text-align: left;
  color: $color_orange;
}