$background-black: #1E1E1E;
$color-orange: #F2682A;
$color-white: #FFFFFF;

@mixin facePack {
  z-index: 1;
  position: absolute;
  content: "";
  background-color: $color-orange;
  width: 10.5rem;
  height: 5.25rem;
  left: 5rem;
}

@keyframes moveLeft {
  to {
    transform: translatex(-10rem);
  }
}

@keyframes topFace {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
}

@keyframes bottomFace {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: $background-black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper {
  margin-left: 2rem;
  width: 100rem;
  height: 12.7rem;
  position: relative;

  .pac {
    background-image: url("./../image/pacman.svg");
    width: 16rem;
    height: 12.688rem;


    &::before {
      @include facePack;

      top: 2rem;
      border-radius: 10.5rem 10.5rem 0 0;
      transform-origin: 50% 100%;
      animation: topFace 1s linear infinite;
    }

    &::after {
      @include facePack;

      top: 7.2rem;
      border-radius: 0 0 10.5rem 10.5rem;
      transform-origin: 50% 0;
      animation: bottomFace 1s linear infinite;
    }
  }

  .food-container {
    position: absolute;
    top: 0.5rem;
    left: 20rem;
    height: 100%;
    width: 80.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .food {
      background-color: $color-white;
      width: 2.688rem;
      height: 2.688rem;
      border-radius: 50%;
      animation: moveLeft 1s linear infinite;
    }
  }
}
